<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Events</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Next week events
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="earth-outline" slot="start"></ion-icon>
      <ion-label>Travel with Chris Burkard</ion-label>
      <ion-card-subtitle>April 18, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about traveling and benefits related to it.
    </ion-card-content>

    <ion-item>
      <ion-icon name="game-controller-outline" slot="start"></ion-icon>
      <ion-label>Play video games with JFL</ion-label>
      <ion-card-subtitle>April 19, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about video games and benefits related to it. 
    </ion-card-content>
  
    <ion-item class="ion-activated">
      <ion-icon name="code-slash-outline" slot="start"></ion-icon>
      <ion-label>Code with MIT</ion-label>
      <ion-card-subtitle>April 20, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about coding and benefits related to it.
    </ion-card-content>
  
    <ion-item>
      <ion-icon name="barbell-outline" slot="start"></ion-icon>
      <ion-label>Get in shape with Steve Cook</ion-label>
      <ion-card-subtitle>April 21, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about fitness and benefits related to it.
    </ion-card-content>
  </ion-card>

  <hr style="margin-top:75px">

  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Events</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Next month events
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item class="ion-activated">
      <ion-icon name="logo-bitcoin" slot="start"></ion-icon>
      <ion-label>Learn about Cryptocurrencies</ion-label>
      <ion-card-subtitle>May 2, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about Cryptocurrencies.
    </ion-card-content>

    <ion-item>
      <ion-icon name="logo-amazon" slot="start"></ion-icon>
      <ion-label>Learn about AWS</ion-label>
      <ion-card-subtitle>May 3, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about AWS.
    </ion-card-content>
  
    <ion-item class="ion-activated">
      <ion-icon name="logo-javascript" slot="start"></ion-icon>
      <ion-label>Learn about JavaScript</ion-label>
      <ion-card-subtitle>May 4, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about JavaScript.
    </ion-card-content>
  
    <ion-item>
      <ion-icon name="logo-github" slot="start"></ion-icon>
      <ion-label>Learn about Github</ion-label>
      <ion-card-subtitle>May 5, 2022</ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      In this presentation, you will learn everything about Github.
    </ion-card-content>
  </ion-card>

</ion-content>
